/* @theme akitoshi */

@import "default";

/* ベースとなる背景色とフォントカラー */
section {
    background-color: #faebd7;
    color: #343434;
}

/* ヘッダーのスタイル */
header {
    color: #555;
    border-bottom: 1px solid #eee;
}

/* フッターのスタイル */
footer {
    color: #555;
    border-top: 1px solid #eee;
}

/* タイトルスライドのスタイル */
section.title-slide {
    background-color: #fafafa;
    color: #222;
    border-bottom: 3px solid #008080;
}

/* コードブロックのスタイル */
pre {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

/* 強調表示のスタイル */
strong {
    color: #005555;
}

/* カバースライドの基本スタイル */
section.cover-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

/* タイトルスタイル */
section.cover-slide h1 {
    margin-bottom: 16px;
    padding-bottom: 4px;
    border-bottom: 2px solid blue;
}

/* アイコン画像スタイル */
section.cover-slide img.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 0;
}

/* ユーザー名スタイル */
section.cover-slide .username {
    font-size: 25px;
    color: #adcdec;
    margin-bottom: 40px;
}
